{% extends 'base.html.twig' %}

{% block title %}New Tatoueurs{% endblock %}

{% block body %}
    <h1>Create new Tatoueurs</h1>

    {{ include('tatoueurs/_form.html.twig') }}

    <a href="{{ path('app_tatoueurs_index') }}">back to list</a>
{% endblock %}
